# Common directories
build/
run/
tmp/

# Native objects
*.o
*.a

# Haskell and Stack
*.hi
.stack-work/

# Python
*.pyc
__pycache__/

# Java and Gradle
*.class
.gradle/

# JavaScript and Node
node_modules/

# IDE and editors
.vscode/
.idea/
*.iml
