# Common directories
build/
run/
tmp/
dist/

# Native objects
*.o
*.a

# Haskell and Stack
*.hi
.stack-work/

# Gugugu generated
gugugu-generated/

# Python
*.pyc
__pycache__/
*.egg-info/

# Java and Gradle
*.class
.gradle/

# JavaScript and Node
node_modules/

# IDE and editors
.vscode/
.idea/
*.iml
